<section id="projectSlider" class="my-5">
  <h2 class="text-center mb-4">Featured Projects</h2>

  <div id="projectCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#projectCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#projectCarousel" data-slide-to="1"></li>
      <li data-target="#projectCarousel" data-slide-to="2"></li>
      <li data-target="#projectCarousel" data-slide-to="3"></li>
      <li data-target="#projectCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner text-center">

      <!-- TimeToDrive -->
      <div class="carousel-item active">
        <img src="../assets/projectsSlide/TimeToDrive.png" class="carousel-img" alt="TimeToDrive Booking">
        <div class="carousel-title-overlay">
          <h5>TimeToDrive Booking</h5>
        </div>
      </div>

      <!-- KinoXP -->
      <div class="carousel-item">
        <img src="../assets/projectsSlide/KinoXP.png" class="carousel-img" alt="KinoXP">
        <div class="carousel-title-overlay">
          <h5>KinoXP</h5>
        </div>
      </div>

      <!-- Quotopia -->
      <div class="carousel-item">
        <img src="../assets/projectsSlide/Quotopia.png" class="carousel-img" alt="Quotopia">
        <div class="carousel-title-overlay">
          <h5>Quotopia</h5>
        </div>
      </div>

      <!-- Alpasolution -->
      <div class="carousel-item">
        <img src="../assets/projectsSlide/alpasolution.png" class="carousel-img" alt="Alpasolution">
        <div class="carousel-title-overlay">
          <h5>Alpasolution</h5>
        </div>
      </div>

      <!-- Fruit Recognizer -->
      <div class="carousel-item">
        <img src="../assets/projectsSlide/fruit.png" class="carousel-img" alt="Fruit Recognizer">
        <div class="carousel-title-overlay">
          <h5>Fruit Recognizer</h5>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#projectCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#projectCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</section>